/* div {
  border: 1px solid red;
} */



.App {
  text-align: center;
}

* {
  font-family: helvetica;
}

.mainNav {
  display: flex;
  align-content: center;
}

.nav {
  margin: 10px;
  color:white;
}


header{
  background-color: #428bca;
  height: 40px;
  position: fixed;
  width: 100%;
}

.projectImage {
  width: 50%;
  height: 50%;
  padding: 10px;
}

.icon{
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.iconImage{
  height: 50px;
  width: 50px;
  margin-right: 25px;
  margin-left: 25px;
}

.links {
  margin-top: 25px;
  margin-bottom: 50px;
}

.link{
  margin: 15px;
  padding: 10px;
  text-decoration: none;
  color: #f9f9f9;
  background-color: #428bca;
  border-radius: 5px;
}

.profile {
  border-radius: 50%;
  width: 30%;
  height: 30%;
  transform: rotate(20deg);
  padding: 10px;
}

.name {
  text-align: center;
  padding-top: 5%;
}


body{
  background-color: #f9f9f9;
  color: black;
}

.about{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5%;
}

.contactInfo {
  font-size: 30px;
}


/* .ContactPage{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.contactItems{
  display: flex;
  justify-content: center;
}

.fullContactPage {
  margin: 0 auto;
  width: 80%;
}

.theForm{
  margin-top: 5%;
}

.formButton{
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.formTitle {
  text-align: center;
  margin-bottom: 50px;
}

.formSubheading {
  font-size: 25px;
}

@media only screen and (max-width: 1300px) {
  .contactItems {
    display: flex;
    justify-content: center;
    flex-direction: column; 
  }
  .name{
    text-align: center;
    padding-top: 50px;
  }


}
